




h2 {
	display: block;
	font-size: 1.3em;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: normal;
	margin: 15px 0px 20px;
}

:focus {
	outline: none;
}

h3 {
	font-weight: normal;
	text-align: center;
	font-size: 2em;
	color: #5A0404;
	margin: 30px 0px 20px;
}


#container {
	width: 800px;
	margin: 0 auto;
}

#search-box {
	position: relative;
	width: 400px;
	margin: 0 auto;
	display: inline;
}


.wrapper {
	width: 750px;
	margin: 0 auto;
}

#message {
	margin-top: 40px;
	margin-bottom: 50px;
	font-size: 20px;
	text-align: center;
}
