@CHARSET "UTF-8";

.border_b{
	display:none;
	text-align:center;
	background:#000;
	border-top:1px solid ##e2e4e6;
	font-size:12px;
	color:#787b82;
	padding:27px 0px;
	min-width:620px;
	margin: 0 auto;
	line-height: 1.8;
}
.border_b {
	max-width:1200px;
	width: auto;
	
}

.border_ul{
	list-style: none;
	overflow: hidden;
	margin-top: -1px;
	margin: 0;
	padding: 0;
}
.border_ul li{
	margin-right: 30px;
	text-align: center;
	float: left;
}

